.gradientBackground {
  background-color: lightgrey;
  border: 1px solid black;
  padding: 20px;
  border-radius: 8px;
}

.input-group .form-control {
  flex: 1;
}

.input-group .btn {
  background-color: #007bff;
  color: white; 
  border: none; 
}

.input-group .btn:hover {
  background-color: #0056b3; 
  color: white;
}
.required {
  color: red;
}
